* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: $background-color_1;
}
footer {
    background-color: $background-color_3;
    text-align: center;
    color: $color_1;
}

h1,h2,h3 {
    text-align: center;
    color: $color_1;
    font-family: $font-family_1;
    font-size: 2rem;
    background-color: $background-color_1;
}

a {
    font-size: 1.4vh;
}

p {
    color: $color_1;
    font-family: $font-family_2;
    margin: 20px;
}

textarea {
    resize: none;
    height: 100%;
    width: 100%;
}
