body{
	background-color: $background-color_1;
}
.container {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
	grid-gap: 15px;
	grid-template-areas: "iniciales principales" "finales botas";
}
.iniciales {
	grid-area: iniciales;
	display: grid;
	grid-template-columns: 50px auto;
	grid-template-rows: repeat(auto,1fr);
	border: 5px solid grey;
	border-radius: 20px;
	grid-gap: 20px;
}
.principales {
	grid-area: principales;
	display: grid;
	grid-template-columns: 50px auto;
	grid-template-rows: repeat(auto,1fr);
	border: 5px solid grey;
	border-radius: 20px;
	grid-gap: 20px;
}
.finales {
	grid-area: finales;
	display: grid;
	grid-template-columns: 50px auto;
	grid-template-rows: repeat(auto,1fr);
	border: 5px solid grey;
	border-radius: 20px;
	grid-gap: 20px;
}
.botas {
	grid-area: botas;
	display: grid;
	grid-template-columns: 50px auto;
	grid-template-rows: repeat(auto,1fr);
	border: 5px solid grey;
	border-radius: 20px;
	grid-gap: 10px;
	height: 500px;
}
.items {
	grid-column-start: 1;
	width: 50px;
	height: 50px;
	cursor: help;
	margin-left: 15px;
}
.build {
	grid-column-start: 2;
	border-radius: 20px;
}
.historia {
	display: flex;
	justify-content: center;
	align-items: center;
}
.contenido {
	width: 750px;
	font-size: 1.7rem;
	font-family: $font-family_3;
}
@media (max-width: 720px){
	.container{
		display: flex;
		flex-wrap: wrap;
	}
}