.presentacion {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.habilidades{
	display: flex;
	flex-wrap: wrap;
}
.card{
	background-color: $background-color_1;
	width: 365px;
	border: 2px solid grey;
	border-radius: 25px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logohabilidad{
	width: 100px;
	height: 100px;
	cursor: help;
}